@charset "UTF 8";
@font-face {
  font-family: "bebas";
  src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "idroid";
  src: url(fontes/idroid.otf) format(opentype);
}
body {
  background-color: #3b3840;
  min-width: 4OOpx;
  min-height: 800px;
  margin-bottom: 0cm;
}

a {
  text-decoration: none;
  color: #3b3840;
}

a:hover {
  color: #9d9ca6;
  transition: color 0.3s;
}

header {
  font-family: "bebas";
  color: aliceblue;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 0px black;
  background-image: linear-gradient(to top, #3b3840, #333038, #3b3840);
}
header > h1 {
  text-shadow: 2px 2px 0px black;
}
header > p {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}

nav {
  background-color: #3b3840;
}

.navlink {
  color: rgb(243, 241, 237);
  line-height: 1cm;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
article {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.5em;
  background-color: #87878c;
  box-shadow: 2px 4px 5px 3px rgba(46, 45, 45, 0.438);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 15px;
  color: #2d2b30;
  padding: 5px;
}
#tema {
  font-family: "idroid";
  font-size: 30px;
  text-indent: 20px;
  color: aliceblue;
}

h2 {
  font-family: "idroid";
  background-image: linear-gradient(
    to right,
    #87878c 30%,
    #3b38406e 100%,
    #87878c 100%
  );
  color: aliceblue;
}
img {
  display: block;
  margin: auto;
}

.video {
  position: relative;
  background-color: #bababf;
  border-radius: 3%;
  height: 0px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
  padding-bottom: 59%;
}
.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
aside > h3 {
  background-color: #bababf;
  color: #3b3840;
  border-radius: 10px 10px 0px 0px;
}
aside {
  background-color: #bababf;
  margin: 4px;
  border-radius: 10px;
  padding-bottom: 1px;
}

ul {
  list-style-type: "\2714\0020\0020";
  columns: 2;
  list-style-position: inside;
  color: #3b3840;
  text-decoration: underline;
}
li:hover {
  color: #9d9ca6;
  transition: color 0.3s;
}

footer {
  background-color: #3b3840;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rodape {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0cm;
}
